{# empty Twig template #}

{% if element_created %}
    <div>
        {{render(controller('AcmeSFSBundle:Schema:list', {'bundle': 'SFS', 'entity': 'SFSTableRoles', 'conds': {'role': id}}))}}
    </div>
{% endif %}