{# empty Twig template #}
{% extends template_parent %}
{% block title %}
    Noticia
{% endblock %}
{% block body %}
    <h2>Noticia</h2>
    {% block component %} {{ parent() }}{% endblock %}
{% endblock %}