{# empty Twig template #}
<div class="input-group input-group-sm">
    <span class="input-group-addon">Titulo</span>
    <input placeholder="titulo" required="" name="titulo" type="text" class="form-control">
</div>
<input id="WebPortafolio_contenido" name="contenido" type="hidden" class="form-control">
<input name="imagen" type="hidden" class="form-control">