{# empty Twig template #}
{% extends template_parent %}
{% block body %}
    
    <div class="fixer sheet-art sty-box-padding-5">
    {% block component %} {{ parent() }}{% endblock %}
    </div>
{% endblock %}