{# empty Twig template #}
{% extends template_parent %}
{% block title %}
    Estadisticas
{% endblock %}
{% block body %}
    <div class="sheet-art">
        {% block component %} {{ parent() }}{% endblock %}
    </div>
{% endblock %}